:root {
    --bg: #fafafa;
    --font: "Archivo", sans-serif;
    --font-display: "Archivo Narrow", sans-serif;
    --hotpink: #e94057;
    --orange: #f27121;
    --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--gradient);
    font-family: var(--font);
  }

  .form-container {
    background: white;
    padding: 20px 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .Sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: var(--hotpink);
  }

  .Login-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: var(--hotpink);
  }

    .link {
     margin-left: 10px;
     text-decoration: none;
      color: var(--orange);
    }

    .link:hover {
     text-decoration: underline;
     opacity: 0.8;
    }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--gradient);
    color: white;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    opacity: 0.9;
  }
